@import "tailwindcss";

@theme {
    /* Primary: Drizzle */
    --color-primary-100: #f4fff2;
    --color-primary-200: #f0feed;
    --color-primary-300: #e6f5e2;
    --color-primary-400: #cfdec9;
    --color-primary-500: #a3b09d;
    --color-primary-600: #7b8e6e;
    --color-primary-700: #5b6b4d;
    --color-primary-800: #3e4932;
    --color-primary-900: #21261a;

    /* Accent: Galactic Highway */
    --color-accent-100: #f7f2ff;
    --color-accent-200: #d1bcfe;
    --color-accent-300: #a283f8;
    --color-accent-400: #6a4ae6;
    --color-accent-500: #3016c4;
    --color-accent-600: #15079d;
    --color-accent-700: #050275;
    --color-accent-800: #00024e;
    --color-accent-900: #000326;

    /* Neutral */
    --color-neutral-100: #fafcfa;
    --color-neutral-200: #e6ebe5;
    --color-neutral-300: #d3dad1;
    --color-neutral-400: #c0c9be;
    --color-neutral-500: #afb8ab;
    --color-neutral-600: #8c9388;
    --color-neutral-700: #696f65;
    --color-neutral-800: #474b44;
    --color-neutral-900: #242622;
}
